*{
    margin : 0;
    padding : 0;
    color : white;
}
.main_wrapper{
    display : flex;
    flex-direction: column;
    align-items: center;
    height : 100vh;  
    background-image: linear-gradient(to bottom,black, gray);
    width : 100%;
}
.header {
    padding : 20px; 
    color : white;
}   

.image_wrapper {
    display: flex;
    justify-content: center;
    margin : 30px;
}

.img_display img{
    height : 450px;
    width : 550px;
    overflow: hidden;
}

.controls{
    padding : 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.control_inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 20px;
}

.slider{
    margin : 0px 5px;
}

.control_head {
    margin: 20px;
}

label {
    font-size: large;
}

input {
    margin : 5px 10px;
}

.display_num {
    font-size: 18px;
}

